<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h4 class="display-4 text-center">User information details</h4><br><br>
      {% if users %}
      <table class="table table-sm table-hover">
        <thead>
          <tr>
            <th>User First Name</th>
            <th>User Last Name</th>
            <th>User email</th>
          </tr>
        </thead>
        {% for user in users %}
        <tr>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.user_mail }}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <h1>There are no records yet</h1>
      {% endif %}
      <a class="btn btn-primary" href="/" role="button">Return</a>
    </div>
  </body>
</html>
